[submodule "lib/tracking"]
	path = lib/tracking
	url = https://github.com/joao-avelino/Tracking
[submodule "lib/shape-fitting"]
	path = lib/shape-fitting
	url = https://github.com/ruipimentelfigueiredo/shape-fitting
[submodule "lib/shape-detection"]
	path = lib/shape-detection
	url = https://github.com/ruipimentelfigueiredo/shape-detection
[submodule "lib/shape-tracking"]
	path = lib/shape-tracking
	url = https://github.com/ruipimentelfigueiredo/shape-tracking
